<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="WebSrvProtocol" value="https" />
        <add key="WebSrvDomain" value="erp.local" />
        <add key="WebSrvPort" value="8443" />
        <add key="Username" value="bot1" />
        <add key="Password" value="bot1" />
    </appSettings>
</configuration>